@media (min-width: 1200px) {
	#home-features .home-feature .home-feature-textwrap { 
		min-height: 130px;
	}
}

@media (max-width: 979px) {
	#UCFHBSearch_and_links { display: none; }
	#UCFHBHeader div.UCFHBWrapper { width: 100%; }
	
	#home #home-content { font-size: 26px; line-height: 40px; }
	#announcements > * { padding-left: 15px; }

	#below-the-fold-icon { padding-top: 22px; }

	/* IntegrityStar Newsletter */
	#newsletter-date-header{text-align:left;}
	#newletter-logo-header img{width:300px;margin:0;}
	#newsletter-header{padding:25px 0 15px;}
	#newsletter-primary-container.span7{border-right:0;padding:0;float:none;width:100%;}
	#newsletter-secondary-container.span4{float:none;width:100%;}
	.body-home #footer.newsletter-footer #footer-wrap #footer-widget-4.offset2 {margin-left: 144px;}
}

@media (max-width: 767px) {
	#UCFHBHeader { margin-left: -20px; width: 100%; padding-right: 40px; }
	
	#home #home-content { font-size: 22px; line-height: 36px; }
	#announcements > * { padding-left: 0; }
	#announcements h3 { margin-top: 0; }
	#home-features .home-feature .home-feature-textwrap {
		border-right: 0;
		padding-right: 0;
		min-height: 0;
	}

	#below-the-fold-icon { padding-bottom: 0; padding-top: 0; }
	#below-the-fold-cta a.phone { padding-bottom: 10px;}

	#code-of-conduct p img { max-width: 330px; }
	#code-of-conduct p a { display: inline-block; margin: 30px auto 0 auto; }
	
	#footer #footer-widget-4 { margin-top: 20px; }
	
	.row.page-content > .span11 > article {
		padding-left: 0;
	}
	
	.person-profile .row .details { margin-bottom: 40px; }

	/* IntegrityStar Newsletter */
	#newsletter-date-header p{font-size:.9em;}
	#newletter-logo-header span{display:block}
	#newsletter-role-container{padding:0 0 25px;}
	.primary-article-container{padding:15px 0 30px;}
	.message-title-row.row{margin:0 0 20px;}
	#newsletter-secondary-container h2{min-height:65px;}
	#newsletter-role-container a.read-more,.primary-article-container a.read-more{margin:10px 0 0;}
	#below-the-fold.newsletter-the-fold #below-the-fold-icon,#below-the-fold.newsletter-the-fold #below-the-fold-content {margin-left: 0;}
	#footer.newsletter-footer #footer-wrap #footer-widget-4.offset2{margin-left:0;}
	.body-home #footer.newsletter-footer #footer-wrap #footer-widget-4.offset2 {margin-left: 180px;}
	#newsletter-secondary-container h2 {font-size: 1.500em;}
}

@media (max-width: 480px) {
	.navbar .menu {
		padding: 0;
	}
	.navbar ul#header-menu { border-bottom: 0; }
	.navbar ul#header-menu li:after {
		content: "";
	}
	.navbar ul#header-menu li, .navbar ul#header-menu ul.dropdown-menu li {
		display: block;
		float: none;
		margin: 0;
		line-height: 13px;
		padding-bottom: 4px;
	}
	.navbar ul#header-menu li a, 
	.navbar ul#header-menu .dropdown-menu li > a:hover, 
	.navbar ul#header-menu .dropdown-menu li > a:focus, 
	.navbar ul#header-menu .dropdown-submenu:hover > a {
		display: block;
		color: #999;
		font-weight: bold;
		font-size: 13px;
		padding: 6px 15px;
		border-radius: 3px 3px 3px 3px;
		background-image: none;
		border: 0;
	}
		.navbar ul#header-menu li.active > a, .navbar ul#header-menu ul.dropdown-menu li.current-menu-item a {
			color: #fff;
			background-color: #222;
		}
	.navbar ul#header-menu li a:hover, .navbar ul#header-menu ul.dropdown-menu li a:hover {
		background-color: #222;
		text-decoration: none;
		color: #fff;
	}
	.navbar ul#header-menu b.caret {
		border-bottom-color: #fff;
    	border-top-color: #fff;
		margin-top: 4px;
	}
	
	#header-menu-wrap #header-menu li a { color: #fff; line-height: 20px; text-decoration: none !important; }
	#header-menu-wrap #header-menu li a:hover { color: #fff; }
	
	#home #home-content { font-size: 20px; line-height: 30px; }
	
	.callout .callout-content,
	.callout .callout-cta { width: 100%; clear:both; }
	.callout .callout-cta .cta-btn { margin-top: 20px !important; }
	
	#chief-officer .person-picture-wrap { width: 100%; }
	#chief-officer .person-picture-wrap img { float: none; }
	#chief-officer .person-picture-wrap .name,
	#chief-officer .person-picture-wrap .title, 
	#chief-officer .person-picture-wrap .phone, 
	#chief-officer .person-picture-wrap .email { margin-left: 0; }
	#chief-officer .person-picture-wrap .name { margin-top: 10px; }
}