/* UCF Header Bar Styles */

#UCFHBSearch_ucf fieldset #q {
	line-height: 11px;
	color: #000000;
	padding: 2px!important;
	font-size: 11px;
	font-family: 'Lucida Grande',sans-serif;
	height: 13px;
	border-radius: 0;
	webkit-border-radius: 0;
	moz-border-radius: 0;
	margin-bottom: 0;
	margin-top: 1px;
}

select#UCFHBHeaderLinks {
	height: 18px;
	font-size: 11px;
	color: #000000;
	font-family: 'Lucida Grande', sans-serif;
	border-radius: 0;
	webkit-border-radius: 0;
	moz-border-radius: 0;
	margin-bottom: 0;
	margin-top: 1px;
	padding: 0;
	line-height: 15px;
}

/**
 * Element styles (No font-family)
 **/
body{color: #333;background: url("../img/gradient.png") repeat-x top left #fff;}

.menu a{font-weight: normal; text-decoration: none; font-size: 16px; margin-right: 5px;}
.menu a:hover{text-decoration: underline;}
.menu.horizontal{list-style: none; color: #6d6e71; padding: 10px 0 0 0; clear: right;}
.menu.horizontal li{display: inline-block; margin: 0 6px 16px 0; padding: 0; float: left;}

.menu.nav-tabs, .menu.nav-pills { margin-left: 0; }
ul.dropdown-menu li { width: 100%; margin-bottom: 0 !important; }
ul.dropdown-menu li:after{ content: none !important; }
ul.dropdown-menu li a { margin-right: 0; white-space: pre-wrap; }

.menu.horizontal .dropdown-menu { margin-top: 3px; }
.menu.horizontal .dropdown.open .dropdown-toggle { background: none; color: #0088CC; }

.slideshow{overflow: hidden; margin: 0 0 1em 0;}


/**
 * Form styles
 **/
input,
textarea{padding: 4px; color: #333; border: 1px solid #ccc; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;}
.msie input,
.msie textarea{padding: 4px 3px 4px 3px;}
.firefox input,
.firefox textarea{padding: 5px;}